$lato-thin: 'Lato 100', 'Open Sans 300', 'Open Sans', 'Helvetica', 'sans-serif';
$lato-thin-italic: 'Lato 100italic', 'Open Sans 300italic', 'Open Sans', 'Helvetica', 'sans-serif';
$lato-light: 'Lato 300', 'Open Sans 300', 'Open Sans', 'Helvetica', 'sans-serif';
$lato-light-italic: 'Lato 300italic', 'Open Sans 300italic', 'Open Sans', 'Helvetica', 'sans-serif';
$lato: 'Lato regular', 'Open Sans regular', 'Open Sans', 'Helvetica', 'sans-serif';
$lato-italic: 'Lato italic', 'Open Sans italic', 'Open Sans', 'Helvetica', 'sans-serif';
$lato-bold: 'Lato 700', 'Open Sans 700', 'Open Sans', 'Helvetica', 'sans-serif';
$lato-bold-italic: 'Lato 700italic', 'Open Sans 700italic', 'Open Sans', 'Helvetica', 'sans-serif';
$lato-black: 'Lato 900', 'Open Sans 800', 'Open Sans', 'Helvetica', 'sans-serif';
$lato-black-italic: 'Lato 900italic', 'Open Sans 800italic', 'Open Sans', 'Helvetica', 'sans-serif';

$open-sans-light: 'Open Sans 300', 'Lato 300', 'Open Sans', 'Helvetica', 'sans-serif';
$open-sans-light-italic: 'Open Sans 300italic', 'Lato 300italic', 'Open Sans', 'Helvetica', 'sans-serif';
$open-sans: 'Open Sans regular', 'Lato regular', 'Open Sans', 'Helvetica', 'sans-serif';
$open-sans-italic: 'Open Sans italic', 'Lato italic', 'Open Sans', 'Helvetica', 'sans-serif';
$open-sans-semi-bold: 'Open Sans 600', 'Lato regular', 'Open Sans', 'Helvetica', 'sans-serif';
$open-sans-semi-bold-italic: 'Open Sans 600italic', 'Lato italic', 'Open Sans', 'Helvetica', 'sans-serif';
$open-sans-bold: 'Open Sans 700', 'Lato 700', 'Open Sans', 'Helvetica', 'sans-serif';
$open-sans-bold-italic: 'Open Sans 700italic', 'Lato 700italic', 'Open Sans', 'Helvetica', 'sans-serif';
$open-sans-extra-bold: 'Open Sans 800', 'Lato 900', 'Open Sans', 'Helvetica', 'sans-serif';
$open-sans-extra-bold-italic: 'Open Sans 800italic', 'Lato 900italic', 'Open Sans', 'Helvetica', 'sans-serif';

$screen-xs-max: 767px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$scrollbar-width: 5px;
$nav-padding: 20px;

$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

$light:      #FFFFFF;
$pale-green: #F0FFF3;
$light-cyan: #C6F1E7;
$dark-cyan:  #70ACB1;
$gray-blue:  #59606D;
$dark:       #000000;