html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: $open-sans-light;
    font-size: 16px;
    line-height: 1.6;
    background: $dark;
    color: $light;
    @media (min-width: $screen-sm) {
        font-size: 16px;
    }
}

main {
    min-height: 100vh;
}

section {
    position: relative;
    z-index: 1;
    transform: translateY(0%) !important;
    will-change: transform;

    &.active {
        z-index: 2;
    }

    &.hide-up {
        z-index: 1;
        transition: all 0.75s $ease-in-out-quart;
        transform: translateY(-25%) !important;
    }

    &.hide-down {
        z-index: 1;
        transition: all 0.75s $ease-in-out-quart;
        transform: translateY(25%) !important;
    }

    &.above {
        transform: translateY(-100%) !important;
    }

    &.below {
        transform: translateY(100%) !important;
    }

    &.slide-in {
        z-index: 2;
        transition: all 0.75s $ease-in-out-quart;
        transform: translateY(0%) !important;
    }
}

h1 {
    &.headline {
        font-family: $lato;
        font-size: 56px;
        display: inline-block;
        margin: 0;
        margin-bottom: 20px;

        @media (min-width: $screen-sm) {
            font-size: 80px;
        }
    }
}

h2 {
    font-family: $lato;
    font-size: 32px;
    margin: 0;
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
        font-size: 56px;
    }
}

p {
    margin: 0;
    margin-bottom: 20px;
}

.loading {
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 105%;
        background: $dark;
        z-index: 4;
        transition: all 0.5s $ease-in-quart;
    }

    &.loaded {
        &:after {
            top: -105% !important;
        }
    }

    &.white {
        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 105%;
            background: $light;
            z-index: 4;
            transition: all 0.5s $ease-in-quart;
        }
    
        &.loaded {
            &:after {
                top: -105% !important;
            }
        }
    }
}

.button {
    font-family: $lato;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 1px solid $light;
    color: $light;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top: 20px;
    padding: 5px 24px 6px;
    cursor: pointer;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: $dark;
        transform: translateX(-100%);
        transition: transform 0.5s $ease-out-quart;
        transition-delay: 0.15s;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: $dark-cyan;
        transform: translateX(-100%);
        transition: transform 0.5s $ease-out-quart;
        transition-delay: 0s;
    }

    &:hover {        
        &:before {
            transform: translateX(0%);
            transition-delay: 0s;
        }

        &:after {
            transform: translateX(0%);
            transition-delay: 0.15s;
        }
    }

    .inner {
        position: relative;
        text-align: center;
        z-index: 2;
    }
}