.fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    will-change: scroll-position;

    .page {
        width: 100%;
        height: 100%;
        background: $dark;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        @media (min-width: $screen-sm) {
            justify-content: center;
        }

        .page-background-container {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: hidden;
            transform: scale(1, 1);
            transition: all 0.75s $ease-out-quart;
            will-change: transform;

            &.second-highest-z {
                z-index: 2;
            }

            &.highest-z {
                z-index: 3;
            }

            &.scale-down {
                transform: scale(0.75, 0.75);
            }

            &.loading {
                overflow: visible;

                &:after {
                    width: 105%;
                    height: 105%;
                    top: -2%;
                    left: -2%;
                }
            }

            .page-background {
                position: relative;
                width: 100%;
                height: 100%;
                transform: translateY(0%);
                will-change: transform;

                &.hide-up {
                    transition: all 0.75s $ease-in-out-quart;
                    transform: translateY(-25%) !important;
                }

                &.hide-down {
                    transition: all 0.75s $ease-in-out-quart;
                    transform: translateY(25%) !important;
                }

                &.above {
                    transform: translateY(-100%) !important;
                }

                &.below {
                    transform: translateY(100%) !important;
                }

                &.slide-in {
                    transition: all 0.75s $ease-in-out-quart;
                    transform: translateY(0%) !important;
                }
            }
        }

        &#home-page {
            .page-background {
                background: url('/assets/img/hero-gallery/keyboard-headphones.jpg') no-repeat center center;
                background-size: cover;
                display: block;
            }
        }

        &#work-page {
            .page-background {
                background: url('/assets/img/hero-gallery/focused.jpg') no-repeat center center;
                background-size: cover;
                display: block;
            }
        }

        &#about-page {
            .page-background {
                background: url('/assets/img/hero-gallery/focused-bw.jpg') no-repeat center center;
                background-size: cover;
                display: block;
            }
        }

        .page-content {
            margin: 0;
            z-index: 3;
            transform: translate3d(0, 0, 0);
            padding-left: 20px;
            padding-right: 20px;
            @media (min-width: $screen-sm) {
                padding-left: 40px;
                padding-right: 40px;
            }
            @media (min-width: $screen-md) {
                padding-left: 20px;
                padding-right: 20px;
            }

            p {
                padding-left: 5px;
                max-width: 430px;
                @media (min-width: $screen-sm) {
                    max-width: 580px;
                }
                &:after {
                    transition-delay: 0.25s;
                }
            }

            .button {
                margin-left: 5px;
            }
        }
    }
}