.fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    z-index: 1;

    .page {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        @media (min-width: $screen-sm) {
            justify-content: center;
        }

        .page-background-container {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: hidden;
            transition: all 0.75s $ease-out-quart;

            &.highest-z {
                z-index: 2;
            }

            &.scale-down {
                transform: scale(0.75);
            }

            .page-background {
                position: relative;
                top: 0%;

                &.hide-up {
                    transition: all 0.75s $ease-in-out-quart;
                    top: -25%;
                }

                &.hide-down {
                    transition: all 0.75s $ease-in-out-quart;
                    top: 25%;
                }

                &.above {
                    top: -100% !important;

                    &.slide-in {
                        transition: all 0.75s $ease-in-out-quart;
                        top: 0% !important;
                    }
                }

                &.below {
                    top: 100% !important;

                    &.slide-in {
                        transition: all 0.75s $ease-in-out-quart;
                        top: 0% !important;
                    }
                }
            }
        }

        &#home-page {
            .page-background {
                background: url('/assets/img/keyboard-headphones.jpg') no-repeat center center;
                background-size: cover;
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        &#about-page {
            .page-background {
                background: url('/assets/img/focused-bw.jpg') no-repeat center center;
                background-size: cover;
                position: fixed;
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .page-content {
            margin: 0;
            z-index: 3;
            transition: opacity 0.75s $ease-out-quart;
            @media (min-width: 768px) {
                margin-left: auto;
                margin-right: auto;
                padding-left: 50px;
                padding-right: 50px;
            }

            p {
                padding-left: 5px;
                max-width: 580px;
                &:after {
                    transition-delay: 0.25s;
                }
            }
        }
    }
}